<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="error.css" />
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
    <title>Error Page</title>
  </head>
  <body>
    <div class="sad-smile"><i class="las la-frown"></i></div>
    <p class="error">404</p>
    <p class="error-text">Page not found</p>
    <p class="description">
      The Page you are looking for doesn't exist or an other error occured.
    </p>
    <p class="link"><a href="/">Go Back</a></p>
  </body>
</html>
